body {
    background-color: #333;
}
.hero {
    background-color: #2b4d70;
    padding: 200px 200px 200px 200px;
    background-image: url("blueberryfade.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.coffee {
    background-color: #2b4d70;
    padding: 200px 200px 200px 200px;
    background-image: url("coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

.spacer {
    height: 2000px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.card {
    background-color: #ffffff;
    width: 28%;
    display: inline-block;
    margin: 20px 2%;
}

.square {
    background-color: yellow;
    width: 400px
    height: 400px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    